// スプライト画像の書き出しパターン
$map-layout: horizontal;
// スプライト画像の間隔
$map-spacing: 20px;
$map-sprite1-spacing: 20px;
// スプライト画像の位置
$map-position: 0px;
$map-sprite1-position: 0px;
// スプライト画像の繰り返し
$map-repeat: repeat-x;
$map-sprite1-repeat: repeat-x;
// スプライト画像の上書き
$map-clean-up: true;
// サイズの取得
$map-sprite-dimensions: true;
// ベースのclass名を変える
$map-sprite-base-class: ".list";
@import "map/*.png";