.top {
  background: url('../images/map-s446e87ce1a.png') -4440px 0 / 720px 540px no-repeat;
}

.top {
  background: url("../img/icon-s6d95478305.png") -520px 0/32px 32px no-repeat;
}

.top {
  background: url('../images/map-s446e87ce1a.png') -2220px 0 / 360px 270px no-repeat;
}

.top {
  background: url("../img/icon-s6d95478305.png") -260px 0/16px 16px no-repeat;
}
