.box {
  -webkit-border-radius: 10px 5px;
  -moz-border-radius: 10px 5px;
  -ms-border-radius: 10px 5px;
  -o-border-radius: 10px 5px;
  border-radius: 10px 5px;
}

.box {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}

.box {
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

.box {
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.boxA {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #aa0000));
  background: -webkit-linear-gradient(#ffffff, #aa0000);
  background: -moz-linear-gradient(#ffffff, #aa0000);
  background: -o-linear-gradient(#ffffff, #aa0000);
  background: linear-gradient(#ffffff, #aa0000);
}

.boxB {
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #ffffff), color-stop(100%, #bb0000));
  background: -webkit-radial-gradient(#ffffff, #bb0000);
  background: -moz-radial-gradient(#ffffff, #bb0000);
  background: -o-radial-gradient(#ffffff, #bb0000);
  background: radial-gradient(#ffffff, #bb0000);
}

.boxC {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #cc0000));
  background: -webkit-linear-gradient(left, #ffffff, #cc0000);
  background: -moz-linear-gradient(left, #ffffff, #cc0000);
  background: -o-linear-gradient(left, #ffffff, #cc0000);
  background: linear-gradient(left, #ffffff, #cc0000);
}

.boxD {
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ffffff), color-stop(100%, #dd0000));
  background: -webkit-linear-gradient(left top, #ffffff, #dd0000);
  background: -moz-linear-gradient(left top, #ffffff, #dd0000);
  background: -o-linear-gradient(left top, #ffffff, #dd0000);
  background: linear-gradient(left top, #ffffff, #dd0000);
}

.boxE {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #008000), color-stop(100%, #ee0000));
  background: -webkit-linear-gradient(#ffffff, #008000, #ee0000);
  background: -moz-linear-gradient(#ffffff, #008000, #ee0000);
  background: -o-linear-gradient(#ffffff, #008000, #ee0000);
  background: linear-gradient(#ffffff, #008000, #ee0000);
}

.boxF {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(40%, #008000), color-stop(60%, #0000ff), color-stop(100%, #ff0000));
  background: -webkit-linear-gradient(#ffffff, #008000 40%, #0000ff 60%, #ff0000);
  background: -moz-linear-gradient(#ffffff, #008000 40%, #0000ff 60%, #ff0000);
  background: -o-linear-gradient(#ffffff, #008000 40%, #0000ff 60%, #ff0000);
  background: linear-gradient(#ffffff, #008000 40%, #0000ff 60%, #ff0000);
}

.boxF-svg {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjMDA4MDAwIi8+PHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiMwMDAwZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjAwMDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(40%, #008000), color-stop(60%, #0000ff), color-stop(100%, #ff0000));
  background: -webkit-linear-gradient(left, #ffffff, #008000 40%, #0000ff 60%, #ff0000);
  background: -moz-linear-gradient(left, #ffffff, #008000 40%, #0000ff 60%, #ff0000);
  background: -o-linear-gradient(left, #ffffff, #008000 40%, #0000ff 60%, #ff0000);
  background: linear-gradient(left, #ffffff, #008000 40%, #0000ff 60%, #ff0000);
}

.boxG {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFFFFF', endColorstr='#FFBB0000');
}

.boxA {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

.boxA {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
