/*
Syntax error: Unrecognized file type: png
        on line 27 of /Users/k2works/projects/github/sass_compass/introduction/scss/css4.scss, in `pretty-bullets'
        from line 89 of /Users/k2works/projects/github/sass_compass/introduction/scss/css4.scss

Backtrace:
/Users/k2works/projects/github/sass_compass/introduction/scss/css4.scss:27:in `pretty-bullets'
/Users/k2works/projects/github/sass_compass/introduction/scss/css4.scss:89
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/sass_extensions/functions/image_size.rb:23:in `rescue in size'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/sass_extensions/functions/image_size.rb:21:in `size'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/sass_extensions/functions/image_size.rb:50:in `image_dimensions'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/sass_extensions/functions/image_size.rb:4:in `image_width'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/script/funcall.rb:112:in `_perform'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/script/node.rb:40:in `perform'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:58:in `block in perform_arguments'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:52:in `zip'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:52:in `perform_arguments'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:263:in `visit_mixin'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/bin/compass:23:in `load'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/bin/compass:23:in `<main>'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/bin/ruby_executable_hooks:15:in `eval'
/Users/k2works/.rvm/gems/ruby-2.0.0-p247@compass/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Unrecognized file type: png\A         on line 27 of /Users/k2works/projects/github/sass_compass/introduction/scss/css4.scss, in `pretty-bullets'\A         from line 89 of /Users/k2works/projects/github/sass_compass/introduction/scss/css4.scss"; }
