.color-helpers {
  /* adjust-lightness */
  color: #9fdfdf;
  /* adjust-saturation */
  color: #20dfdf;
  /* scale-lightness */
  color: #70cfcf;
  /* scale-saturation */
  color: #30cfcf;
  /* shade */
  color: #308f8f;
  /* tint */
  color: #6fcfcf;
}

.color-helpers {
  /* adjust-lightness */
  color: #9fdfdf;
  /* adjust-saturation */
  color: #20dfdf;
  /* scale-lightness */
  color: #70cfcf;
  /* scale-saturation */
  color: #30cfcf;
  /* shade */
  color: #308f8f;
  /* tint */
  color: #6fcfcf;
}
